* {
  padding: 0;
  margin: 0;

  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;

  color: #000;
  text-align: center;
  font-family: Determination Sans Web;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  overflow: hidden;
}

:root {
  --text: #e7f4fe;
  --text-lighter: #d1e0eb;
  --background: #000000;
  --primary: #4bbaf7;
  --secondary: #bd87ff;
  --accent: #6b00ed;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

@font-face {
  font-family: Determination Sans Web;
  src: url("./resources/font/determinationsanswebregular-369x-webfont.woff");
}

#middleLine {
  position: absolute;
  height: 100vh;
  width: 27vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

#middleLine h1 {
  flex: 0.6;
  align-self: center;
  font-size: 80px;
  display: none;
}

#logo {
  flex: 1;
  object-fit: contain;
  align-self: center;
  width: 90%;
}

rect {
  background-color: black;
  width: 0.8%;
  align-self: center;
}

#firstLine {
  flex: 0.2;
}

#secondLine {
  flex: 1.5;
  margin-bottom: 3%;
}

#thirdLine {
  flex: 2;
  margin-top: 3%;
}

#middleLine input {
  flex: 0.3;
  align-self: center;
  width: 35%;
  border: none;
  border-radius: 9px;
  background: #000;
  color: #fff;
  font-size: 41px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  z-index: 100;
}

#middleLine input:hover {
  cursor: pointer;
  background: white;
  border: #000 1px solid;
  rotate: -2deg;
  color: black;
}

#mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  opacity: 0;
  transition-duration: 1s;
  transform: translateY(-100px);
}

#mainContainer .contentSection {
  flex: auto;
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-top: 10%;
}

#mainContainer .contentSection h2 {
  font-size: 50px;
  flex: 1;
}

#mainContainer .contentSection .rockPaperScissors {
  flex: 1;
  display: flex;
  justify-content: center;
}

#mainContainer .contentSection .rockPaperScissors img {
  width: 30%;
}

#playerSelection .rockPaperScissors img:hover {
  cursor: pointer;
  scale: 105%;
  rotate: 1deg;
}

#mainContainer .contentSection h3 {
  flex: 1;
  font-size: 40px;
}

#playerSelection {
  padding-left: 7%;
}

#computerSelection {
  padding-right: 7%;
}

.disappear {
  animation: disappear 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.appear {
  animation: disapear 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) backwards;
}

@keyframes disappear {
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
    width: 0;
    display: none;
  }
}

.textGlow {
  background: linear-gradient(
    90deg,
    #639bff 20%,
    var(--secondary) 40%,
    var(--secondary) 60%,
    #639bff 80%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGlow 1s linear infinite;
}

@keyframes textGlow {
  to {
    background-position: 200% center;
  }
}
